# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Ignorar entornos virtuales
venv/
.env/

# Ignorar archivos de configuración del editor
.vscode/
.idea/

# Ignorar dependencias en proyectos Node.js
node_modules/

# Ignorar archivos de logs
*.log

# Ignorar credenciales o configuraciones locales
.env
config.json
